@import "tailwindcss";
@import "@fontsource/quicksand/index.css";

@theme {
  --color-coral: #F7879A;
  --color-mustard: #EDC557;
  --color-offwhite: #F3F6F4;
  --color-teal: #3DADB7;
  --color-periwinkle: #7474BD;
}
